body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  /* fr */

  grid-template: 300px 100px 100px /1fr 1fr 1fr;
  /* grid-template: 300px 100px 100px / auto auto auto; */
  /* grid-template: 300px 100px 100px / repeat(4, 1r); */
  grid-template: 300px 100px 100px / repeat(4, minmax(200px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  /* grid-gap: filas/columas ; */
  grid-gap: 10px;
}

.item {
  background-color: lightblue;
  padding: 10px;
  border: 1px solid red;
  overflow: auto;
  margin-right: 10px;
}
.item .item {
  background-color: yellow;
}

.item:nth-of-type(4) {
  background-color: coral;
  /* display: subgrid; */
  display: grid;
  grid-template: 300px 100px 100px /50% 200px 100px;
}
